::selection {
    color: red;
    background: black;
  }


  .logoBanner {
    color: white;
    font-style: italic;
    font-size: 5vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .noti {
    background-color: #3d1766;
    height: 5vh;
    width: 100%;
  }
  .noti .indianFlag {
    height: 2.5vh;
    width: 4vh;
  }


  .gettingStarted{

    padding-top: 30px;
  }

  .gettingStarted h1{
    color:#3d1766;

  }
  .gettingStarted p{
    text-align: justify;

  }
  .gettingStarted p a{
    text-decoration: none;
   
  }

  