::selection {
    color: red;
    background: black;
  }

p{
  font-size:2.5vh;
}

.logoBanner {
  color: white;
  font-style: italic;
  font-size: 5vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.noti {
  background-color: #3d1766;
  height: 5vh;
  width: 100%;
}
.noti .indianFlag {
  height: 2.5vh;
  width: 4vh;
}


.gettingStarted{

  padding-top: 30px;
}

.gettingStarted h1{
  color:#3d1766;

}
.gettingStarted p{
  text-align: justify;

}
.gettingStarted p a{
  text-decoration: none;
  
}

.code{


  font-size:3vh;
  padding: 15px;

  background-color: rgb(225, 224, 224);
  color:rgb(52, 52, 52);
  font-family: 'Courier New', Courier, monospace;
  cursor: text;

}

.copyButton{
  float:right;
  padding: 1px 15px;
  border: 1px solid gray;
}
.copyButton:hover{
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(77, 77, 77);
  color:black;
}

  
code{
  font-size: 2.5vh;
}